<div class="usersCon row">
    <a href="/adults" class="col-sm-12 col-md-6 userBut" id="adultsBut">ADULTS</a>
    <a href="/kids" class="col-sm-12 col-md-6 userBut" id="kidsBut">KIDS ZONE</a>
  </div>
